
.toDo {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.add_task {
    border: solid 1px grey;
    border-radius: 7px;
    height: 30px;
    width: 250px;
    margin-top: 20px;
}

button {
    border-radius: 7px;
    border-style: hidden;
    background-color: rgb(221, 241, 216);
    height: 30px;
    /* width: 30px; */
    margin: 5px;
    
}

.arrow_btn {
    background-color: rgb(250, 224, 228);
}

.page_number {
    width: 30px;
}

button:hover {
    background-color: lightgrey;
}

button:active {
    background-color: lightgrey;
}

.header_buttons {
    display: flex;
    justify-content:space-between;
    align-items: center;
    justify-content: center;
    
    

}

/* .flex_date_sort {
    display: flex;
    align-items: center;
    
} */

.tasks_list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    max-width: fit-content;
}

.task {
    display: flex;
    background-color: rgb(240, 235, 195);
    
    border-radius: 7px;
    height:50px;
    margin: 10px;
    align-content: center;
    /* text-align: center; */
    width: 500px;
}

p {
    width: 350px;
    text-align: left;
}

@media (max-width: 767px) {
    .tasks_list {
        width: 55%;
    }

    .task {
        width: 280px;
        
    }

    p {
        width: 135px;
    }
}

.left_side {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right_side {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.trashcan {
    background: url(https://www.svgrepo.com/show/359400/trashcan.svg)center center/cover no-repeat;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border: none;
}

.trashcan:hover {
    background-color: grey;
}

.trashcan:active {
    background-color: lightgrey;
}



